@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
@font-face {
    font-family: Iciel;
    src: url(Fonts/Iciel.ttf);
}

@font-face {
    font-family: Briko;
    src: url(Fonts/Briko.ttf);
}

@font-face {
    font-family: SVN-Aleo;
    src: url(Fonts/SVN-Aleo.ttf);
}

@font-face {
    font-family: Spectral;
    src: url(Fonts/Spectral.ttf);
}

@font-face {
    font-family: NorthLand;
    src: url(Fonts/NorthLand.ttf);
}

*{
    margin: 0;
    padding: 0;
}

/* Navbar */
.navbar{
    width: 80%;
    margin: auto;
    padding: 35px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    height: 10vh;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    font-family: Iciel;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 1.2vh;
}

.navbar ul li::after{
    content: "";
    align-items: center;
    height: 5px;
    bottom: -8px;
    left: 0;
    /* Cái này set cho animation */
    width: 0;
    background-color: transparent;

    position: absolute;
    transition: 0.25s;
}

/* Chỉnh cỡ  navbar cho phù hợp  */
  @media screen and (max-width: 1080px) {
    .navbar ul li a {
        font-size: 15px;
      }
    .navbar ul li::after{
        height: 4px;
    }
  }

  @media screen and (max-width: 1020px) {
    .navbar ul li a {
        font-size: 13px;
      }
      .navbar ul li::after{
        height: 3.3px;
    }
  }

/* Khi media nhỏ cỡ mobile */
  @media screen and (max-width: 800px) {
    .navbar ul li a, .navbar ul li::after {
        display: none;
    }
    .title h1{
        font-size: 60px;
    }
    .title p{
        font-size: 10px;
        margin-bottom: 25px;
    }
    .BtnContainer{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .Logo{
        width: 95px;
        height: auto;
    }
  }

/* Format cái div content */
.content{
    min-height: 100vh;
}


/* CSS for footer */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}

.footer{
	background-color: #24262b;
    padding: 70px 0;
    color: white;
}
.footer a{
    color:white;
    text-decoration:underline;
}
.footer-col{
   width: 50%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.copyright{
    text-align: center;
    font-size: 18px;
    margin-top: 70px;
    margin-bottom: 0px;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}





